@import "tailwindcss";
@plugin "@tailwindcss/forms";

.logo-text-fill {
  fill: currentColor;
}

.group:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.group::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 50%);
  transform: translateY(-100%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 0;
  pointer-events: none;
}
